# Ignore everything
*

# Allow folders
!*/

# Allow .c and .h files
!*.[ch]

# Allow repos to contain their own .gitignore
!.gitignore

# Allow Makefiles
!Makefile
!*.mk

# Miscellaneous
!README.md

!.normignore

!ctester.sh
